*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .principais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body img{
    height: 50%;
    width: 100%; 
}

.card-link {
    /* Faz o link se comportar como um bloco */
    display: block; 
    width: 100%;
    height: 100%;
    text-decoration: none; 
    position: absolute; 
    top: 0;
    left: 0;
}

.card-link h2, .card-link p {
    display: flex;
    color: black; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: "Fredoka";
    font-size: 25px;
    font-weight: medium;
    padding-bottom: 15px;
}

.estrela{
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
}

.estrela p{
    font-family: "Inter";
}
.estrela img{
    width: 100px;
    height: 20px;
}

.avaliacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}
.avaliacao span{
    font-family: "Inter";
    font-size: 15px;
}

h2{
    font-family: "Fredoka";
    font-size: 25px;
    font-weight: medium;
}

.info{
    width: 70%;
}

.envie{
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.envie p{
    font-family: "Inter";
    padding-bottom: 26px;
    text-align: center;
    padding-top: 5px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

input{
    background-color: #1814143a;
    width: 100%;
    height: 132px;
    border-radius: 20px;
    border: #0000;
    font-family: "Inter";
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
}

button{
    background-color: #B16107;
    font-family: "Inter";
    color: aliceblue;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    width: 286px;
    height: 39px;
}

h3{
    padding-top: 50px;
    font-family: "Fredoka";
    font-size: 25px;
}

.foto-patricia img{
    width: 80px;
    height: 80px;
    display: flex;
}

.info-patricia{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 50px;
}

.Patricia p{
    font-family: "Heebo";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 75%;
    padding-top: 10px;
}

.estrela2{
    width: 145px;
    height: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

span{
    font-family: "Inter";
    font-size: 16px;
    color: #5B5B5B;
}


.foto-rodrigo img{
    width: 80px;
    height: 80px;
}

.info-rodrigo{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 50px;
 padding-bottom: 50px;
}

.Rodrigo p{
    font-family: "Heebo";
    font-size: 20px;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 75%;
    padding-top: 10px;
}