*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/img/papeldeparedewhats.jpg");
}

header{
    justify-content: space-between;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 19px 16px;
}

.grupo{
    display: flex;
    align-items: center;
    gap: 16px;
}

.grupo img{
    width: 40px;
    height: 40px;
}

p{
    font-size: 17px;
    text-decoration: none;
}

h1{
    font-family: "Inter";
    font-size: 16px;
}

.camera{
    display: flex;
    gap: 30px;
}
.camera img{
    width: 30px;
    height: 24px;
}

.pontos img{
    width: 8px;
    height: 24px;
}

.msg{
    background-color: #F4E6BE;
    border-radius: 10px;
    width: 337px;
    height: 90px;
    
}

.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.msg p{
    display: flex;
    font-family: "Inter";
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 20px;
}

.adicionado{
    background-color: #CACACA;
    border-radius: 10px;
    width: 137px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.adicionado p{
    font-family: "Inter";
    font-size: 12px;
    
}

.img img{
    width: 40px;
    height: 40px;
}

h2{
    font-family: "Inter";
    font-size: 13px;
}

.mensagem p{
    font-family: "Inter";
    font-size: 13px;
}

.info{
    display: flex;
    gap: 10px;
    padding-top: 54px;
    justify-content: center;
}

.barradepesquisa{
    display: flex;
    justify-content: center;
    padding-top: 500px;
    padding-bottom: 10px;
}

input{
    width: 361px;
    height: 26px;
    border-radius: 50px;
    border: none;
    padding-left: 10px;
}

.barradepesquisa ::placeholder{
    font-family: "Inter";
    
}